<div id="globalDiv" class="container">
    <div class="row">

        <div id="buttonUser">
            <button ng-click="changePage(pageU)" class="btn btn-md btn-primary">
	            <span class="glyphicon glyphicon-plus"></span>
	            <span class="glyphicon glyphicon-user"></span>
	        </button>

        </div>
        <div id="buttonFile">
            <button ng-click="changePage(pageF)" class="btn btn-md btn-primary">
	            <span class="glyphicon glyphicon-plus"></span>
	            <span class="glyphicon glyphicon-file"></span>
	        </button>
        </div>

    </div>


    <div id="globalDiv" class="row">
        <div class="col-xs-12">
            <div class="input-group">
                <div class="input-group-btn search-panel">
                    <select class="selectpicker show-tick" id="sel" ng-model="selectedOptions">
                    <option value="m" >Médias</option>
                    <option value="a">Adhérents</option>
                </select>
                </div>

                <input type="text" ng-model="textSearch" class="form-control input-lg" id="inputSearch" placeholder="Titre, auteur, adhérent...">

                <span class="input-group-btn d-inline">
							<button class="btn btn-default btn-lg" type="button" ng-click="search()">
								<span class="glyphicon glyphicon-search"></span>
                </button>
                </span>
            </div>
        </div>
    </div>
    <div id="globalDiv" class="row">
        <div class="col-sm-offset-3 col-xs-12" ng-if="show(m)">
            <div class="col-xs-0 col-sm-2">
                <div class="checkbox">
                    <label>
	                        <input type="checkbox" ng-model="livre" >
	                        <span class="cr"></span>
	                        Livre
	                    </label>
                </div>
            </div>

            <div class="col-xs-0 col-sm-2">
                <div class="checkbox">
                    <label>
	                        <input type="checkbox" ng-model="cd">
	                        <span class="cr"></span>
	                        CD
	                    </label>
                </div>
            </div>

            <div class="col-xs-0 col-sm-2">
                <div class="checkbox">
                    <label>
	                        <input type="checkbox" ng-model="dvd">
	                        <span class="cr"></span>
	                        DVD
	                    </label>
                </div>
            </div>
        </div>
    </div>
    <div id="radioButtonRow" class="row">
        <div class="col-sm-offset-3 col-xs-12" ng-if="show(a)">
            <div id="radioButton" class="col-sm-3">
                <div class="radio">
                    <label>
	                        <input type="radio" ng-model="nom">
	                        <span class="cr"><i class="cr-icon fa fa-circle"></i></span>
	                        Par nom
	                    </label>
                </div>
            </div>

            <div id="radioButton" class="col-sm-3">
                <div class="radio">
                    <label>
	                        <input type="radio" ng-model="identifiant">
	                        <span class="cr"><i class="cr-icon fa fa-circle"></i></span>
	                        Par identifiant
	                    </label>
                </div>
            </div>
        </div>


    </div>
    <br>
</div>


<div id="globalDiv" class="col-xs-offset-2 col-xs-8 col-xs-offset-2" ng-if="show(m)">
    <table class="table table-hover" id="tab">
        <thead class="theadSearch">
            <tr>
                <th style="text-align:center">Type</th>
                <th>Titre</th>
                <th>Auteur</th>
                <th>Emprunté par</th>
                <th class="text-center">Retour prévu</th>
            </tr>
        </thead>
        <tbody class="tbodyTab">
            <tr ng-click="showTr(d.id)" ng-repeat=" d in donnees.media">
                <td align="center"><span class="glyphicon glyphicon-{{d.type}} "></span></td>
                <td>{{d.titre}}</td>
                <td>{{d.auteur}}</td>
                <td>
                    <span class="glyphicon glyphicon-user"></span>
                    <strong>&nbsp;&nbsp;</strong>
                </td>
                <td class="text-center">23/06/2017</td>
            </tr>
        </tbody>
    </table>
</div>

<div id="globalDiv" class="col-xs-offset-2 col-xs-8 col-xs-offset-2" ng-if="show(a)">
    <table class="table table-hover text-center">
        <thead class="theadSearch">
            <tr>
                <th>Identifiant</th>
                <th>Nom Prénom</th>
                <th>Date de naissance</th>
                <th class="text-center">A jour de cotisation ?</th>
                <th class="text-center">Nombre médias</th>
            </tr>
        </thead>
        <tbody class="tbodyTab">
            <tr ng-click="showTr(d.id)" ng-repeat="d in donnees.adherent">
                <td class="text-left">
                    <span class="glyphicon glyphicon-user"></span> {{d.id}}
                </td>
                <td align="left">{{d.nom}} {{d.prenom}}</td>
                <td align="left">{{d.dateNaissance}}</td>
                <td>Oui</td>
                <td>13 médias</td>
            </tr>
        </tbody>
    </table>
</div>




<div class="divHiddenMedia col-xs-offset-2 col-xs-8 col-xs-offset-2">
    <div class="col-xs-1">
        <button ng-click="hideTr()" class="btn btn-danger">X</button>
    </div>

    <div class="col-md-3">
        <img class="img-responsive" src="https://ewedit.files.wordpress.com/2016/09/ootp-uk-kids-cover-art.jpg?w=395" alt="harry potter et l'ordre du phoenix"
            height="450" width="300">
    </div>

    <div class="col-md-5 col-xs-12">

        <h2 class="text-primary">{{media.titre}}</h2><br>
        <p><strong>{{media.auteur}}</strong></p>
        <p><span class="glyphicon glyphicon-{{media.type}}"></span> Livre</p>

        <button class="btn btn-primary" data-toggle="collapse" data-target="#empruntMedia">
	                                        Ajout Emprunt
                                        </button>
        <button ng-click="modifFiche(media.id, m)" class="btn btn-md btn-primary">
	                                        Modifier Fiche
	                                    </button><br>
        <div id="empruntMedia" class="collapse">
            <div class="row">
                <form name="formE" ng-submit="envoi()" class="form-group">
                    <div id="empruntSelect">
                        <select ng-model="formEmprunt.user" class="btn btn-primary" ng-options="d.nom for d in donnees.adherent" required>
                                <option value="" hidden>Adhérents</option>
	                        </select>
                    </div>
                    <input ng-model="formEmprunt.media" style="display:none">
                    <div id="empruntDate">
                        <input type='date' ng-model="date" class="form-control" placeholder="Date d'emprunt" required>
                    </div>
                    <div id="empruntButton">
                        <input type="submit" class="btn btn-primary" value="OK" ng-disabled="formE.$invalid">
                    </div>


                </form>
            </div>
        </div>
    </div><br>
    <div class="col-md-3 col-xs-12 text-left" style="margin-top:5px">
        <ul class="list-group">
            <li class="list-group-item active">Déjà emprunté par</li>
            <li class="list-group-item" ng-repeat="e in donnees.emprunt">{{e.user.nom}} {{e.user.prenom}}</li>
        </ul>
    </div>


</div>

<div class="divHiddenUser col-xs-offset-2 col-xs-8 col-xs-offset-2">
    <div class="col-xs-1">
        <button ng-click="hideTr()" class="btn btn-danger">X</button>
    </div>

    <div class="col-md-offset-1 col-md-5 col-xs-12">
        <h3 class="text-primary"><span class="glyphicon glyphicon-user"></span>{{user.nom}} {{user.prenom}}</h3><br>
        <label><strong>Date de naissance : </strong></label>
        <p class="center-block">{{user.dateNaissance}}</p>
        <label><strong>Email : </strong></label>
        <p>{{user.email}}</p>
        <label><strong>Adresse : </strong></label>
        <p>{{user.rue}}</p>
        <label><strong>Date de paiement de la cotisation : </strong></label>
        <p>{{user.dateCotisation}}</p>
        <label><strong>Montant de la cotisation : </strong></label>
        <p>{{user.montantCotisation}} &euro;</p>
        <button type="button" class="btn btn-primary" data-toggle="collapse" data-target="#empruntUser">
		                                    Ajout Emprunt
		                                </button>
        <button ng-click="modifFiche(user.id, a)" class="btn btn-md btn-primary">
		                                    Modifier Fiche
		                                </button><br>
        <div id="empruntUser" class="collapse">
            <div class="row">
                <br>
                <form name="formM" class="form-group" ng-submit="envoi()">
                    <div class="col-xs-4">
                        <select ng-model="formEmprunt.media" class="btn btn-primary" ng-options="d.titre for d in donnees.media" required>
                                <option value="" hidden>Médias</option>
		                    </select>
                    </div>
                    <div class="col-xs-5">
                        <input type='date' class="form-control" ng-model="date" required/>
                        <input ng-model="formEmprunt.user" style="display:none">
                    </div>
                    <div class="col-xs-2">
                        <input type="submit" class="btn btn-primary" value="OK" ng-disabled="formM.$invalid">
                    </div>
                </form>
            </div>
        </div>
    </div>


    <div class=" col-md-5 col-xs-12 text-left" style="margin-top:5px">
        <ul class="list-group">
            <li class="list-group-item active">Média(s) emprunté(s) : </li>
            <li class="list-group-item" ng-repeat="e in donnees.emprunt"><span class="glyphicon glyphicon-{{e.titre.type}}"></span> {{e.titre.titre}}</li>
        </ul>

    </div>



</div>
