<div class="col-lg-2 col-md-3 col-sm-3 text-right">
</div>
<div id="contenu">
    <div class="container">
        <div class="row">
            <div class="col-lg-1">
            </div>

            <div class="col-lg-12" id="titre">
                <h1> Mediathèque HLH </h1>
            </br>
            </br>
            </br>
                <h4> - Média non rendu - </h4>
            </div>
            </br>

<!-- Affichage des Livres non rendu -->

            <div id="globalDiv" class="center-block">
                <div class="divTab">
                    <table class="table table-hover" id="tab" height="20">
                        <thead class="theadSearch">
                            <tr>
                                <th style="text-align:center"><span ng-click="orderByMe('type')" class="sortorder" ng-class="{reverse: reverse}"></span>&nbsp;Type</th>
                                <th><span ng-click="orderByMe('titre')" class="sortorder" ng-class="{reverse: reverse}"></span>&nbsp;Titre</th>
                                <th><span ng-click="orderByMe('auteur')" class="sortorder" ng-class="{reverse: reverse}"></span>&nbsp;Auteur</th>
                                <th><span ng-click="orderByMe('emprunterPar')" class="sortorder" ng-class="{reverse: reverse}"></span>&nbsp;Emprunté par</th>
                                <th class="text-center"><span ng-click="orderByMe('retourPrevu')" class="sortorder" ng-class="{reverse: reverse}"></span>&nbsp;Retour prévu</th>
                            </tr>

                        </thead>
                        <tbody class="tbodyTab">
                            <tr ng-click="showTr(d.id)" ng-repeat=" d in nonRendu|orderBy:myOrder:reverse">
                                <td align="center"><span class="glyphicon glyphicon-{{d.type}} "></span></td>
                                <td>{{d.titre}}</td>
                                <td>{{d.auteur}}</td>
                                <td><span class="glyphicon glyphicon-adherent"></span><strong>&nbsp;&nbsp;</strong>{{d.emprunterPar}}</td>
                                <td class="text-center">{{d.retourPrevu}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <embed src="ton_fichier.mp3" autostart="true" loop="false" hidden="true"></embed>

            <div class="center-block">
                <p class="text-center">
                    <img class="photo" src="Image/A1.jpg" onmouseover="this.src='Image/B1.jpg'" onmouseout="this.src='Image/A1.jpg' "alt="Controle">
                    <img class="photo" src="Image/A2.jpg" onmouseover="this.src='Image/B2.jpg'" onmouseout="this.src='Image/A2.jpg' "alt="Controle">
                    <img class="photo" src="Image/A3.jpg" onmouseover="this.src='Image/B3.jpg'" onmouseout="this.src='Image/A3.jpg' "alt="Controle">
                </p>
                </br>
            </div>




        </div>


    </div>
</div>