<section id="contactMedia">
			<div class="section-content">
				<h1 class="section-header"><span class="content-header wow fadeIn " data-wow-delay="0.2s" data-wow-duration="2s">Création d'un Média</span></h1>
				
			</div>
			
			<div class="contact-section-media">
			<div class="container">
				<form ng-submit="submit()" name="ctrl.formMedia">
					<div class="col-lg-6 col-lg-offset-3 col-xl-6 col-xl-offset-3 col-xs-6 col-xs-offset-3">
			  			<div class="form-group-media">
			  				<label for="nom">Titre *</label>
							<input type="text" required class="form-control" name="titre" id="nom" placeholder="Titre" ng-model ="ctrl.form.titre" ng-minlength="2">
				  		</div>	
				  			  	
				  	
		
				  		<div class="form-group-media">
					    	<label for="dateDeNaissance">Auteur *</label>
					    	<input type="text" required class="form-control" name="auteur" ng-model ="ctrl.form.auteur" id="auteur" placeholder="Auteur">
					  	</div>	
					  	
					  	
					  		<div class="form-group-media">
					  			<label for="menu_destination_liste">Type *</label> 
									<select ng-model="ctrl.form.type" required name="menu_destination" id="menu_destination_liste" class="text-muted"> 
										<option></option>
										<option value="book">Livre</option> 
										<option value="music">CD</option> 
										<option value="film">DVD</option>
									</select>
							</div>
					  	
					  				  		  

			  			<!--  	<button type="button" class="btn btn-default submit"><i class="fa fa-file-image-o" aria-hidden="true"></i> Enregistrer</button>-->
			  				 <p class="text-right"><button ng-disabled="ctrl.formMedia.$invalid" class="btn dropdown-toggle" ng-click="ctrl.envoi()">Enregistrer </button></p>
			  				 
			  				 

			  				<br /><br /><br /><br /><br /><br /><br /><br />
			  			
			  			
			  			
					</div>
				</form>
			</div>
			</div>
		</section>