
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 99999;
    top: 0;
    left: 0;
    background-color : #f5f5f5;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover, .offcanvas a:focus {
    color: #f1f1f1;
}

#sideMenu ul {
	list-style:none;
}

@media(min-width : 768px) {
	#header {
		display : block;
    }
    #boutonside {
        font-size:30px;
        color: black;
    }
}

@media(max-width : 768px) {
	#header {
		display : block;
    }
    #boutonside {
        font-size:20px;
        color: black;
    }
}




.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

#boutonside {
    transition: margin-left .5s;
    padding: 16px;
    position: fixed;
    top: 0;
    left: 0;
}

html,
body {
    overflow-x: hidden; 
}
body {
    padding-top: 100px;
}

html {
    position: relative;
    min-height: 100%;
}

#contenu{
	padding-bottom: 100px;
}

.navbar-brand {
    font-size: 24px;
}

.navbar-container {
    padding: 20px 0 20px 0;
}

.navbar.navbar-fixed-top.fixed-theme {
    background-color: #222;
    border-color: #080808;
    box-shadow: 0 0 5px rgba(0,0,0,.8);
}

.navbar-brand.fixed-theme {
    font-size: 18px;
}

.navbar-container.fixed-theme {
    padding: 0;
}

.navbar-brand.fixed-theme,
.navbar-container.fixed-theme,
.navbar.navbar-fixed-top.fixed-theme,
.navbar-brand,
.navbar-container{
    transition: 0.8s;
    -webkit-transition:  0.8s;
}


.wrap{
  width: 100%;
  /*background-color: #1e1e1e;*/
  padding: 20px;
  display: none;
  border-bottom: 1px solid #5bc1ff;
}
#containerlogin{
  width: 800px;
  margin: 0 auto;
  overflow: hidden;
}
#formlogin{
  border: none;
  border-bottom: 3px solid #5bc1ff;
  background: none;
  padding: 5px 10px;
  font-size: 16px;
  margin: 0 10px;
  /*color: #FFF;*/
}
#formlogin:focus{
  outline: none;
}
::-webkit-input-placeholder{
  /*color: #FFF;*/
  opacity: 0.5;
}


#login{
  background-color: transparent;
  border: none;
  border-top: 3px solid #5bc1ff;
  border-bottom: 3px solid #5bc1ff;
  padding: 5px 20px;
  cursor: pointer;
  color: #000;
  margin-left: 10px;
}

.btn-default{
    color: #333;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  line-height: 60px; /* Vertically center the text there */
  background-color: #f5f5f5;
}