.theadSearch{
    background-color: #5e5e5e;
    color: whitesmoke;

}
table {
    overflow:hidden;
    border-radius: 10px;
}

.divHiddenMedia, .divHiddenUser{
    display: none;
}

#labelUserSelect{
    display: block;
}
#buttonUser{
    margin-left: 15px;
}
 #buttonUser, #buttonFile{
        display: inline-block;
        margin-bottom: 2px;
    } 

 
@media (max-width: 400px){

    #radioButton{
        display: block;
        width: 100%;
        margin-bottom: 2px;
    }
    #radioButtonRow{
                text-align: center;
    }
}

@media (max-width: 992px) {
    .col-xs-12, .col-md-5 {
        text-align: center;
    }
 
    label p{
        display: block;
        text-align: center;
    }
}

@media (max-width: 1200px){
    label#labelMedia{
        display: block;
        text-align: center;
    }
}


.tabEmprunt{
    display: block;
}
.img-responsive {
    margin: 0 auto;
}

#labelUserSelect{
    margin: 0 auto;
}

.tbodyTab{
    cursor: pointer;
}

.blur {

  filter: blur(13px);

}
 


.divHiddenMedia, .divHiddenUser{
    background-color: white;
    position: absolute;
    z-index: 4;
    border-radius: 5px;
    border-style: solid;
    border-color: gray;
    border-width: 1px; 
    padding: 15px;
    margin-top: 15%;
    top: 0;
}

.sortorder:after {
  content: '\25b2';  
  cursor: pointer;
}
.sortorder.reverse:after {
  content: '\25bc';  
  cursor: pointer;
}