.theadSearch{
    background-color: #5e5e5e;
    color: whitesmoke;

}
table {
    overflow:hidden;
    border-radius: 10px;
}

.divHiddenMedia, .trHiddenMedia, .divHiddenUser, .trHiddenUser{
    display: none;
}

#labelUserSelect{
    display: block;
}

@media (max-width: 992px) {
    .col-xs-12{
        text-align: center;
    }
    label{
        display: block;
        text-align: center;
    }
}
@media (max-width: 1200px){
    label#labelMedia{
        display: block;
        text-align: center;
    }
}



.img-responsive {
    margin: 0 auto;
}

#labelUserSelect{
    margin: 0 auto;
}

.tbodyTab{
    cursor: pointer;
}